.badge-blue {
  background-color: var(--badge-bg-blue);
  color: var(--badge-text-blue);
  transition: all 200ms ease-out;
}
.badge-yellow {
  background-color: var(--badge-bg-yellow);
  color: var(--badge-text-yellow);
  transition: all 200ms ease-out;
}
.badge-orange {
  background-color: var(--badge-bg-orange);
  color: var(--badge-text-orange);
  transition: all 200ms ease-out;
}
.badge-violet {
  background-color: var(--badge-bg-violet);
  color: var(--badge-text-violet);
  transition: all 200ms ease-out;
}
.badge-cyan {
  background-color: var(--badge-bg-cyan);
  color: var(--badge-text-cyan);
  transition: all 200ms ease-out;
}
.badge-gray {
  background-color: var(--badge-bg-gray);
  color: var(--badge-text-gray);
  transition: all 200ms ease-out;
}
.badge-green {
  background-color: var(--badge-bg-green);
  color: var(--badge-text-green);
  transition: all 200ms ease-out;
}
.badge-fuchsia {
  background-color: var(--badge-bg-fuchsia);
  color: var(--badge-text-fuchsia);
  transition: all 200ms ease-out;
}

.badge-indigo {
  background-color: var(--badge-bg-indigo);
  color: var(--badge-text-indigo);
  transition: all 200ms ease-out;
}
