* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 70px;
}
.dark {
  color-scheme: dark;
}
.light {
  color-scheme: light;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
