@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./bright.css);

.hljs {
  background: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 70px;
  --pre-bg-color: rgb(39, 39, 42);
}

.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}
